* {
  margin: 0;
  padding: 0;
  }

  body {
    background-image:url("img/7.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .man {
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
  }

  .wrapper {
    margin:0 auto;
    width: 1000px;
  }

nav {
  width: 100%;
  height: 100px;
  background-color: #ADD8E6;
}

ul {
margin-left: 60px;
}

ul li {
  list-style: none;
  display:inline-block;
  float: left;
  line-height: 100px;
}

ul li a {
text-decoration: none;
font-size: 20;
color: #1e1e1e;
padding: 0 20px;
}

ul li a:hover {
color: red;
}

.welcome {
  font-size: 50px;
  color: #1e1e1e;
  text-align: center;
  line-height: 450px;

}

.para {
  background-color: white;
  width: 50%
  padding: 40px;
  margin: 100px auto;
  text-align: left;
}

.next {
  font-size: 15px;
  color: red;
}

.red {
  color: red;
}

.cili {
  color: red;
}

.cabbage {

color: red;
}
